<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prevent WebApp</title>
    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<div class="container mt-4">
    <h3 class="text-center">Прохождение опросника
        <th:block th:utext="${quiz.title}"/>
    </h3>
    <div>
        <p>Пользователь:
            <th:block th:utext="${user.firstName} + ' ' + ${user.lastName}"/>
        </p>
    </div>
    <form action="#" method="post" th:action="@{/saveResults}"
          th:object="${questions}">
        <th:block th:each="question, state: ${questions}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Вопрос №[[${state.count}]]</label>
                <th:p th:utext="${question.content}"/>
                <div th:each="answer, st: ${question.answers}">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" th:field="${question.userAnswer.id}" th:value="${answer.id}" class="custom-control-input">
                        <label class="custom-control-label" th:for="${answer.id}" th:text="${answer.content}">content</label>
                    </div>
                </div>

<!--                <fieldset>-->
<!--                    <th:block th:each="answer, st: ${question.answers}">-->
<!--                        <input type="radio" th:field="${question.answers}" th:value="${answer.id}" th:id="${'radio' +-->
<!--                        st.count}">-->
<!--                        <label class="form-check-label" th:for="${'radio' + st.count}"-->
<!--                               th:text="${answer.content}"></label>-->
<!--                    </th:block>-->
<!--                </fieldset>-->
            </div>
        </th:block>

        <button type="submit"
                class="btn btn-primary col-sm-4 text-center">Завершить опрос
        </button>
    </form>
</div>
</body>
</html>