.header-user-page{
    background-color: #f5f4f2;
    height: 50%;
}

.button-start{
    float:right;
}

.button-on-main-page{
    margin-bottom: 4rem;
    float: right;
    margin-right: 5rem;
}

@media (max-width: 767px){
    .buttons-mainpage{
        margin-top: 1%;
        margin-left: 5%;
    }
    .button-start{
        float: none;
        width: 100%;
    }
    .button-on-main-page{
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
}
